<!DOCTYPE html>
<html>
<head>
  <title>Uploadifyergram</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>


<h3><%= link_to 'All Users Link', root_path %></h3>


<%= yield %>
</div>



</body>
</html>
